---
import ArticleCard from '../../components/ArticleCard.astro';
import Side from '../../components/Side.astro';
import BlogLayout from '../../layouts/BlogLayout.astro';
import Pagination from '../../components/Pagination.astro';
import H2 from '../../components/atoms/H2.astro';
import { getArticles } from '../../lib/blog/newt';
export const prerender = true;
export const getStaticPaths = async () => {
  const limit = Number(import.meta.env.NEWT_BLOG_ARTICLES_PER_PAGE_LIMIT) || 10;
  const { total } = await getArticles();
  const maxPage = Math.ceil(total / limit);
  const pages = Array.from({ length: maxPage }, (_, index) => index + 1);

  const paths = [];
  for (const page of pages) {
    const results = await getArticles({ limit, skip: limit * (page - 1) });
    paths.push({
      params: {
        page: String(page),
      },
      props: {
        articles: results.articles,
        currentPage: page,
        totalPages: maxPage,
      },
    });
  }
  return paths;
};

const { articles, currentPage, totalPages } = Astro.props;
---

<BlogLayout title="Blog" description="ブログ">
  <div class="mx-auto max-w-7xl px-4 pt-20 sm:px-6 lg:px-8">
    <div class="lg:flex lg:space-x-8">
      <main class="w-full lg:w-3/4">
        <H2 id="blog-article-list-title">最新の記事</H2>
        {articles.map((article) => <ArticleCard article={article} />)}
        <Pagination
          totalPages={totalPages}
          currentPage={currentPage}
          basePath={'/blog'}
        />
      </main>
      <Side />
    </div>
  </div>
</BlogLayout>
