---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="DataLiner" description="事業概要">
  <div>
    <!-- コンテンツ開始 -->
    <section class="py-8">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold text-gray-900">DataLinerについて</h1>
      </div>
    </section>
  </div>
</BaseLayout>
