---
import { Icon } from 'astro-icon/components';
type Props = {
  id: string;
  className?: string;
};

const { id, className = '' } = Astro.props;
---

<span id={id} class={className}>
  <Icon name="mdi:refresh" />
</span>
