---
import { Icon } from 'astro-icon/components';
type Props = {
  id: string;
  isFilled?: boolean;
  className?: string;
};

const { id, isFilled = false, className = '' } = Astro.props;
---

<span id={id} class={className}>
  <Icon
    name={isFilled ? 'mdi:folder-multiple' : 'mdi:folder-multiple-outline'}
  />
</span>
