---
import type { FeatureImageFull } from '../types/page/page';
import H3 from './atoms/H3.astro';

export interface Props {
  featureImageFull: FeatureImageFull;
}

const { featureImageFull } = Astro.props;
---

<section class="mx-auto mb-16 max-w-screen-lg px-6 sm:mb-24 sm:px-10">
  <H3
    className="mb-3 text-center"
    set:html={featureImageFull.data.titleCopy}
    id="landing_page-feature_image_full-title"
  />
  <p
    class="mb-2 text-center text-lg text-gray-500 sm:mb-9 sm:text-xl"
    set:html={featureImageFull.data.text}
  />
  <img
    class="h-auto w-full"
    src={featureImageFull.data.image.src}
    alt={featureImageFull.data.image.altText}
    width="980"
    height="307"
  />
</section>
